.container-req-select{

    background-color: #EFEFEF;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    color: #7F7F7F;
    transition-duration: 0.2s;

}

.container-req-select:hover{

    cursor: pointer;
    background-color: #41BF91;
    color: white!important;
    transition-duration: 0.2s;

}

.text-select-req{

    color: #7F7F7F;
    font-weight: 400;
    margin-bottom: 15px;

}

.text-titulo-req2{

    font-weight: 600;

}

.text-det-req2{

    font-weight: 400;

}

.req-back2{

    height: 70vh;
    width: 60vw;

}

.container-req-change{

    background-color: #ED8B00;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
    width: 42%;

}

.container-changes{

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container-req-change2{

    background-color: #41BF91;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
    width: 42%;

}

.card-icon-arrow{

    width: 30px;
    height: 30px;

}

.titles-changes{

    color: #7F7F7F;
    font-weight: 600;
    margin-bottom: 10px;

}

.container-determitation{

    display: flex;
    justify-content: space-around;
    margin-top: 25px;

}

.container-impact-cost{

    background-color: #EFEFEF;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    width: 35%;
    color: #7F7F7F;
    font-weight: 400;

}

.container-pad{

    margin-bottom: 15px;

}

.button-editar{

    background-color: #ED8B00;
    border-style: none;
    height: 40px;
    width: 150px;
    border-radius: 7px;
    color: white;
    transition-duration: 0.2s;
    font-weight: 400;
    font-size: 100%;

}

.button-editar:hover{

    background-color: #b96c00;
    transition-duration: 0.2s;
    cursor: pointer;

}

.button-asignar{

    background-color: #004B87;
    border-style: none;
    height: 40px;
    width: 150px;
    border-radius: 7px;
    color: white;
    transition-duration: 0.2s;
    font-weight: 400;
    font-size: 100%;
    margin-left: 10px;

}

.button-asignar:hover{

    background-color: #002c50;
    transition-duration: 0.2s;
    cursor: pointer;

}

.modal-depuracion{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s
}

.modal-container{

    width: 40%;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    
}

.modal-depuracion--show{

    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;

}

.text-delete-req{

    color: #7F7F7F;
    font-size: 150%;
    margin-top: 25px;
    font-weight: 600;
    margin-bottom: 3px;

}

.container-req-select2{

    background-color: #EFEFEF;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    color: #7F7F7F;
}


.modal-depuracion2{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    pointer-events: none;
    opacity: 0;
    transition: opacity .6s
}

.modal-depuracion2--show{

    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;

}

.text-area-edit{

    background-color: #EFEFEF;
    border-style: none;
    color: #7F7F7F;
    margin-top: 10px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 100%;
    font-family: "Inter";
    width: 100%;
    height: 100px;
    border-radius: 10px;

}

.selected {
    background-color: #41BF91;
    color: white;
}

.form-container2{

    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
    max-height: 40vh;

}

.form-container2::-webkit-scrollbar{

    opacity: 0;

}

.container-contexto{

    background-color: #EFEFEF;
    border-radius: 30px;
    padding-top: 28px;
    padding-left: 28px;
    padding-right: 42px;
    padding-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;

}

.tex-area-contexto{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-style: none;
    color: #7F7F7F;
    font-family: "Inter";
    padding: 10px;
    font-size: 100%;

}

.labels-modal{

    color: #7F7F7F;
    margin-top: 20px;

}

.input-titule-req{

    background-color: #EFEFEF;
    font-size: 100%;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border-style: none;
    color: #7F7F7F;
    padding-left: 5px;
    padding-right: 0px;
    margin-top: 10px;

}