.container-req-select{

    background-color: #EFEFEF;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    color: #7F7F7F;
    transition-duration: 0.2s;

}

.container-req-select:hover{

    cursor: pointer;
    background-color: #41BF91;
    color: white!important;
    transition-duration: 0.2s;

}

.text-select-req{

    color: #7F7F7F;
    font-weight: 400;
    margin-bottom: 15px;

}

.text-titulo-req2{

    font-weight: 600;

}

.text-det-req2{

    font-weight: 400;

}

.req-back2{

    height: 70vh;
    width: 60vw;

}

.container-req-change{

    background-color: #ED8B00;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
    width: 42%;

}

.container-changes{

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container-req-change2{

    background-color: #41BF91;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
    width: 42%;

}

.card-icon-arrow{

    width: 30px;
    height: 30px;

}

.titles-changes{

    color: #7F7F7F;
    font-weight: 600;
    margin-bottom: 10px;

}

.container-determitation{

    display: flex;
    justify-content: space-around;
    margin-top: 25px;

}

.container-impact-cost{

    background-color: #EFEFEF;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    width: 35%;
    color: #7F7F7F;
    font-weight: 400;

}

.container-pad{

    margin-bottom: 15px;

}