{% extends './layout.html' %}

{% block title %}
{{data.titulo}}
{% endblock %}

{% block body %}

<div class="container-req">

    <div class="req-back">

        <div class="req-square-container">

            <p class="text-add-req">Control de cambios</p>

            <!-- REQ CONTAINER -->
            <div class="form-container">

                <div>
                    <p class="text-select-req">Seleccione el requisito a modificar</p>

                    <div>
                        
                        {% for requisito in requisitos %}
                        <div class="container-req-select">

                            <p class="text-titulo-req2">{{ requisito['identifier'] }} {{ requisito['title'] }}</p>
                            <p class="text-det-req2">{{ requisito['description'] }}</p>
    
                        </div>
                        {% endfor %}
                        <div class="container-req-select">

                            <p class="text-titulo-req2">RF1: Titulo Requisito</p>
                            <p class="text-det-req2">Descripción requisito</p>
    
                        </div>
                        <div class="container-req-select">

                            <p class="text-titulo-req2">RF1: Titulo Requisito</p>
                            <p class="text-det-req2">Descripción requisito</p>
    
                        </div>
                        <div class="container-req-select">

                            <p class="text-titulo-req2">RF1: Titulo Requisito</p>
                            <p class="text-det-req2">Descripción requisito</p>
    
                        </div>
                        <div class="container-req-select">

                            <p class="text-titulo-req2">RF1: Titulo Requisito</p>
                            <p class="text-det-req2">Descripción requisito</p>
    
                        </div>
                        <div class="container-req-select">

                            <p class="text-titulo-req2">RF1: Titulo Requisito</p>
                            <p class="text-det-req2">Descripción requisito</p>
    
                        </div>
                        <div class="container-req-select">

                            <p class="text-titulo-req2">RF1: Titulo Requisito</p>
                            <p class="text-det-req2">Descripción requisito</p>
    
                        </div>
                        <div class="container-req-select">

                            <p class="text-titulo-req2">RF1: Titulo Requisito</p>
                            <p class="text-det-req2">Descripción requisito</p>
    
                        </div>
                        <div class="container-req-select">

                            <p class="text-titulo-req2">RF1: Titulo Requisito</p>
                            <p class="text-det-req2">Descripción requisito</p>
    
                        </div>
                        <div class="container-req-select">

                            <p class="text-titulo-req2">RF1: Titulo Requisito</p>
                            <p class="text-det-req2">Descripción requisito</p>
    
                        </div>
                        <div class="container-req-select">

                            <p class="text-titulo-req2">RF1: Titulo Requisito</p>
                            <p class="text-det-req2">Descripción requisito</p>
    
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="div-button">
            <button id="boton-eliminar-req" class="btn-delete">
                Eliminar
            </button>
            <button id="boton-editar-req" class="btn-next">
                Editar
            </button>
        </div>

    </div>

    <figure class="card-figure2">
        <img class="card-img" src="{{ url_for('static', filename=data['navegacion']['robot']) }}" alt="robot-image" />
    </figure>
</div>

<section class="modal-depuracion">

    <div class="modal-container">

        <p class="text-delete-req">Eliminar requisito</p>
        <p class="text-select-req">¿Estas seguro de que deseas eliminar este requisito?</p>
        <div class="container-req-select2">

            <p class="text-titulo-req2">RF1:</p>
            <p>La interfaz de usuario debe ser completamente intuitiva para gatos</p>

        </div>

        <div class="div-button">

            <button id="btn-close-modal" class="btn-delete">Cancelar</button>
            <button class="btn-next">Eliminar</button>

        </div>

    </div>

</section>

<section class="modal-depuracion2">

    <div class="modal-container">

        <p class="text-delete-req">Editar requisito</p>
        <textarea class="text-area-edit" name="requisitoEditar" id="">La interfaz de usuario debe ser completamente intuitiva para gatos</textarea>

        <div class="div-button">

            <button id="btn-close-modal2" class="btn-delete">Cancelar</button>
            <button class="btn-next">Guardar</button>

        </div>

    </div>

</section>

<script
      src="{{ url_for('static', filename='js/depuracion.js') }}"
      type="module"
    ></script>

{% endblock %}