{% extends './layout.html' %}

{% block title %}
{{data.titulo}}
{% endblock %}

{% block body %}

<div class="container-req">

    <div class="req-back2">

        <div class="req-square-container">

            <p class="text-add-req">Control de cambios</p>

            <!-- REQ CONTAINER -->
            <div class="form-container container-pad">

                <div>
                    <p class="titles-changes">Modificaciones</p>

                    <div class="container-changes">

                        <div class="container-req-change">

                            <p class="text-titulo-req2">{{ data['requisito']['identifier'] }}: {{ data['requisito']['title'] }}</p>
                            <p class="text-det-req2">{{ data['requisito']['description'] }}</p>
    
                        </div>
                        
                        <img class="card-icon-arrow" src="{{ url_for('static', filename=data['navegacion']['flecha']) }}" alt="arrow" />

                        <div class="container-req-change2">

                            {% if data['requisito_despues'] == 'Eliminado' %}

                            <p class="text-titulo-req2">El requisito ha sido eliminado</p>
                            
                            {% else %}

                            <p class="text-titulo-req2">{{ data['requisito_despues']['nuevoTitulo'] }}</p>
                            <p class="text-det-req2">{{ data['requisito_despues']['nuevaDescripcion'] }}</p>

                            {% endif %}

                        </div>

                    </div>

                    <div class="container-determitation">

                        <div class="container-impact-cost">

                            <p class="titles-changes">Impacto</p>
                            <p class="info-ia-generate">{{ data['impacto'] }}</p>


                        </div>

                        <div class="container-impact-cost">

                            <p class="titles-changes">Costo</p>
                            <p class="info-ia-generate">{{ data['costo'] }}</p>

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}