{% extends './layout.html' %} 

{% block title %} 
    {{data.titulo}} 
{% endblock %}

{% block body %} 

    <!-- CUADRO -->
    <section class="container">
      <!-- TITULO -->
      <div class="title-container">
        <h2>Bienvenido</h2>
        <p>Seleccione una opción</p>
      </div>
      <!-- CARDS -->
      <div class="options-container">
        <!-- CARD PATRON -->
        <!-- <a class="ancor-enrutador" href="#"> -->
        <div class="card patron-container-option">
          <figure class="card-figure">
            <img
              class="card-img"
              src="{{ url_for('static', filename=data['imagenes']['patron_img']) }}"
              alt="menu-image"
            />
          </figure>
          <p class="card-text">Generar patrón<br />de sintaxis</p>
        </div>
        <!-- </a> -->
        <!-- CARD ASIGNAR -->
        <div class="card asignar-container-option">
          <figure class="card-figure">
            <img
              class="card-img"
              src="{{ url_for('static', filename=data['imagenes']['asignar_img']) }}"
              alt="menu-image"
            />
          </figure>
          <p class="card-text">Asignar validador<br />a un requisito</p>
        </div>
        <!-- CARD CONTROL -->
        <div class="card control-container-option">
          <figure class="card-figure">
            <img
              class="card-img"
              src="{{ url_for('static', filename=data['imagenes']['depurar_img']) }}"
              alt="menu-image"
            />
          </figure>
          <p class="card-text">Control de cambio</p>
        </div>
      </div>
    </section>

    <div class="container-delete-all">

      <button class="delete-all" id="delete-all-button">Eliminar requisitos</button>

    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}" type="module"></script>

{% endblock %}
