{% extends './layout.html' %}

{% block title %}
{{data.titulo}}
{% endblock %}

{% block body %}

<div class="container-req">

    <div class="req-back">

        <div class="req-square-container">


            <p class="text-add-req">Agregar Requisitos</p>


            <!-- REQ CONTAINER -->
            <div class="form-container">

                <form id="requirementForm">
                    <div class="form-group">
                        <label for="title">Título:</label>
                        <input type="text" class="text-input text-input-re" id="title" name="title" required />
                    </div>
                    <div class="form-group">
                        <label for="description">Descripción:</label>
                        <textarea id="description" class="text-input textarea-req" name="description" required></textarea>
                    </div>

                    <div class="bottom-req">

                        <div class="radio-requirments">
                            <label>
                                <input type="radio" name="requirementType" value="Funcional" id="Funcional" />
                                Requisito Funcional
                            </label>
                            <label>
                                <input type="radio" name="requirementType" value="No-Funcional" id="No-Funcional" />
                                Requisito No Funcional
                            </label>
                        </div>

                        <button type="button" class="RequirementBtn" id="addRequirementBtn">
                            Agregar
                        </button>

                    </div>

                </form>
            </div>
            <!-- REQ AGREGADOS -->
            <div class="req-agregados">
                <p class="text-add-req">Requisitos agregados</p>
                <div id="requirementsList">

                    <!-- Plantilla para cada requisito agregado -->
                    <div class="container-req-add">

                        <p class="text-titulo-req">RF1: Titulo Requisito</p>
                        <p class="text-det-req">Descripción requisito</p>

                    </div>

                </div>
            </div>

        </div>

        <div class="div-button">
            <button id="boton-guardar-enviar" class="btn-next">
                Guardar
            </button>
        </div>

    </div>

    <figure class="card-figure2">
        <img class="card-img" src="{{ url_for('static', filename=data['navegacion']['robot']) }}" alt="robot-image" />
    </figure>
</div>

{% endblock %}