{% extends './layout.html' %}

{% block title %}
{{data.titulo}}
{% endblock %}

{% block body %}

<div class="container1">

    <div class="container2">
        <h1 class="title">Tabla de asignación</h1>
        <h2 class="subtitle">Requisito</h2>
        <h2 class="subtitle">Validador</h2>
        <div class="general-reqs">
            <div class="added-reques">
                <div id="requirementsList">
                    {% for requisito in requisitosPrueba %}
                    <div class="requirement-item">

                        <h3 class="title-req-col">{{ requisito['identifier'] }}: {{ requisito['title'] }}</h3>
                        <p class="sub-req-col">{{ requisito['description'] }}</p>

                    </div>

                    {% endfor %}

                </div>
            </div>
            <div class="generated-reques">

                <div id="requirementsList2">

                    {% for requisito in requisitosPrueba %}
                    <div class="requirement-item2">

                        <div class="validador-container">


                        </div>

                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>

    <div class="div-button-guardar">

        <button class="button-editar">Editar habilidades</button>
        <button id="asignar-validador" class="button-asignar">Asignar validador</button>

    </div>
    <script
      src="{{ url_for('static', filename='js/asignador.js') }}"
      type="module"
    ></script>


</div>


{% endblock %}